# Environment & Local Secrets
.env

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan

# Ansible
ansible/*.retry
ansible/.ansible/

# Operating System & IDE
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
