# Environment & Local Secrets
.env

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfplan

# Ansible
ansible/*.retry
ansible/.ansible/
ansible/files/*.zip
ansible/files/*.msi
ansible/files/*.exe
!ansible/files/.gitkeep

# Operating System & IDE
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
